<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>商品管理-商品分类</title>
<link rel="stylesheet" type="text/css" href="css/style.css">
<script src="js/jquery-1.8.3.min.js"></script>
</head>


<body>
  
<!-- 需要引入头部公共文件 -->
 <!--[#include "/common/header.ftl"/] -->
  <div class="wrap">
    <div class="container-setting fix">
      <!-- 需要引入导航公共文件 -->
       <!--[#include "/common/menu.ftl"/] -->
       
      <div class="container-middle">
	          <ul class="b-nav">
	            <li><a href="#">商品管理</a><span>></span></li>
	            <li><a href="#">商品分类</a></li>
	          </ul>
	          
	        	  <!--商品分类管理-->
            <div class="order-control">
	              <h4>商品分类</h4>
	              <form action="#" method="" class="shopset-form categyform">
		                <div class="settfrom">
	                		<label><i>*</i>分类名称 : </label><input type="text">
		                </div>
		                <div class="settfrom">
			                 <label><i>*</i>上级分类 : </label>
			                 <select>
			                   <option value="default">顶级分类</option>
			                   <option value="guagnxi">子分类</option>
			                 </select>
		                </div>
		                <div class="settfrom">
	                		<label>筛选品牌 : </label>
	                		<div class="brandcagy">
		                		<label title="富安娜">
									<input type="checkbox" name="brandIds" value="77">富安娜
								</label>
								<label title="富安娜">
									<input type="checkbox" name="brandIds" value="77">富安娜
								</label>
								<label title="富安娜">
									<input type="checkbox" name="brandIds" value="77">富安娜阿斯蒂芬富安娜阿斯蒂芬富安娜阿斯蒂芬富安娜阿斯蒂芬
								</label>
								<label title="富安娜">
									<input type="checkbox" name="brandIds" value="77">富安娜
								</label>
								<label title="富安娜">
									<input type="checkbox" name="brandIds" value="77">富安娜ad阿拉斯加
								</label>
							</div>
		                </div>
		                <div class="settfrom">
	                		<label><i>*</i>分类排序 : </label><input type="num">
		                </div>
		                <div class="settfrom">
	                		<label><i>*</i>设置 : </label>
							<label>
								<!-- 如果设置了置顶，在店铺导航栏上显示出来一个标志，注意置顶数目不可以超过8个，这里的8不确定，具体做的时候需要确定 
									并且只可以设置顶级类，子类不做设置
								-->
								<input type="checkbox" >是否置顶
							</label>
		                </div>
		                <div class="orderbtnbox probtnbox">
		                  <input type="submit" value="保存">
		                  <input type="button" class="order_btnj" value="返回">
		                </div>
		            </form>
            </div>
      </div>
      
    </div>
  </div>

	  <!-- 底部 -->
	  <!-- [#include "/common/footer.ftl"/] -->

</body>
<html>




